manifest {
  name = 'Augustus Training'
  author = 'Mahesh Binzer-Panchal'
  homePage = ''
  description = 'Nextflow Augustus training pipeline'
  mainScript = 'AugustusTraining.nf'
  nextflowVersion = '>=0.32.0'
  version = '0.1'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  test { includeConfig 'conf/test.config' }

  nbis {
    executor {
      name = 'slurm'
    }
    process { 
      cpus = 1
      maxForks = 20
      scratch = true
      withName: gff_filter_gene_models {
      }
      withName: gff_longest_cds {
      }
      withName: gff2protein {
      }
      withName: blast_makeblastdb {
      }
      withName: blast_recursive {
      }
      withName: gff_filter_by_blast {
      }
      withName: gff2gbk {
      }
      withName: gbk2augustus {
      }
    }
  }
}

params {

  // Pipeline Options
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
}

process.container = 'augustus-training:1.0'
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}

trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

