manifest {
  name = 'Annotation Preprocessing'
  author = 'Mahesh Binzer-Panchal'
  homePage = ''
  description = 'Nextflow annotation preprocessing pipeline'
  mainScript = 'AnnotationPreprocessing.nf'
  nextflowVersion = '>=0.32.0'
  version = '0.1'
}

profiles {

  conda {
    process {
      withLabel: 'GAAS' {
        conda = "$baseDir/conda/conda_gaas-dependencies.yml"
        env.PERL5LIB='${PERL5LIB:-""}:${HOME}/git/NBIS/GAAS/annotation/'
        env.PATH='${PATH}:${HOME}/git/NBIS/GAAS/annotation/Tools/bin'
      }
      withName: 'fasta_filter_size' {
        conda = "$baseDir/conda/conda_seqtk-1.3.yml"
      }
    }
  }

  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  test { includeConfig 'conf/test.config' }

  nbis {
    executor {
      name = 'local'
    }
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      // withName: fasta_filter_size {
      // }
      // withName: assembly_generate_stats {
      // }
    }
  }

  bils {
    executor {
      name = 'local'
    }
    env.PERL5LIB='${PERL5LIB:-""}:${HOME}/git/NBIS/GAAS/annotation/'
    env.PATH='${PATH}:${HOME}/git/NBIS/GAAS/annotation/Tools/bin'
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      // withName: fasta_filter_size {
      // }
      // withName: assembly_generate_stats {
      // }
    }
  }
}

resume = true

params {

  // Pipeline Options
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
}

process {
  container = 'annotation-preprocessing:1.0'
  shell = ['/bin/bash', '-euo', 'pipefail']
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}

trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
