manifest {
  name = 'Functional Annotation Preparation'
  author = 'Mahesh Binzer-Panchal'
  homePage = ''
  description = 'Nextflow functional annotation preparation pipeline'
  mainScript = 'FunctionalAnnotationPreparation.nf'
  nextflowVersion = '>=0.32.0'
  version = '0.1'
}

profiles {

  conda {
    process {
      conda = "$baseDir/environment.yml"
      withLabel: 'GAAS' {
        conda = "$baseDir/gaas_environment.yml"
      }
    }
  }

  debug { process.beforeScript = 'env' }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  test { includeConfig 'conf/test.config' }

  nbis {
    executor {
      name = 'slurm'
    }
    env.PERL5LIB='${PERL5LIB:-""}:${HOME}/git/NBIS/GAAS/annotation/'
    env.PATH='${PATH}:${HOME}/git/NBIS/GAAS/annotation/Tools/bin:/projects/interproscan/my_interproscan/interproscan-5.38-76.0/'
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      stageOutMode = 'rsync'
      // withName: gff2protein {
      // }
      withName: blastp {
        cpus = 8
      }
      // withName: merge_blast_tab {
      // }
      withName: interproscan {
        cpus = 8
      }
      // withName: merge_interpro_tsv {
      // }
    }
  }

  bils {
    executor {
      name = 'lsf'
    }
    env.PERL5LIB='${PERL5LIB:-""}:${HOME}/git/NBIS/GAAS/annotation/'
    env.PATH='${PATH}:${HOME}/git/NBIS/GAAS/annotation/Tools/bin:/projects/interproscan/my_interproscan/interproscan-5.38-76.0/'
    process {
      cpus = 1
      maxForks = 20
      scratch = true
      stageOutMode = 'rsync'
      // withName: gff2protein {
      // }
      withName: blastp {
        cpus = 8
      }
      // withName: merge_blast_tab {
      // }
      withName: interproscan {
        cpus = 8
      }
      // withName: merge_interpro_tsv {
      // }
    }
  }
}

resume = true

params {

  // Pipeline Options
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
}

process.container = 'functional-annotation-preparation:1.0'
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}

trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
